body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto; /* Tambahkan scrollbar horizontal jika tab melebihi lebar layar */
}

.tabs a {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    margin: 5px;
}

.tabs a.active {
    background-color: #4CAF50;
}



.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-title {
    text-align: center;
    position: absolute;
    top: calc(100% + 20px); /* Letakkan di bawah video */
    left: 50%; /* Pusatkan horizontalnya */
    transform: translateX(-50%); /* Pusatkan horizontalnya */
}

.separator {
    clear: both;
    text-align: center;
    padding: 1em 0;
}

.thumbnail img {
    display: block;
    border: 0;
    height: 320px;
    width: auto;
    margin: 0 auto;
}

#synopsis {
    max-width: 600px;
    margin: 20px auto;
}

#extra-info {
    text-align: center;
}

#extra-info div {
    margin-bottom: 10px;
}
body {
      background-color: #000; /* Set your black background color */
      color: #fff; /* Set your text color */
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #fff;
    }

    .download-link {
      display: inline-block;
      padding: 8px 12px;
      text-decoration: none;
      border-radius: 4px;
      overflow: hidden; /* Ensure the background covers the entire link */
      position: relative;
    }

    .download-link::after {

    content: "file.io"; /* Text label yang Anda inginkan */

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    background-color: rgba(76, 175, 80, 0.7); /* Ganti dengan warna latar belakang yang diinginkan */

    border-radius: 4px;

    display: flex;

    align-items: center;

    justify-content: center;

    z-index: -1;

}

    .download-text {
    position: relative;
    z-index: 1;
    background-color: #4CAF50; /* Ganti dengan warna hijau yang diinginkan */
    border-radius: 4px;
    padding: 8px 12px;
    display: inline-block;
    color: #fff; /* Sesuaikan warna teks sesuai kebutuhan */
    }
